.UberTile,
.UberTile-title,
.UberTile-description,
.UberTile-background-image {
  text-align: center;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  position: relative;
  transition: transform .2s;
  z-index: 1;
}

.UberTile {
  background-color: #282C34;
}

.UberTile.withLink:hover {
  filter: brightness(120%);
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transform: scale(1.02);
}

.UberTile-background-image {
  filter: brightness(90%);
}

.UberTile-description > span,
.UberTile-title > span {
  font-family: 'Nova Square', Helvetica, sans-serif;
  color: #4A86E8;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
  padding: 3vh 3vw;
}

.UberTile-description {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.UberTile.withLink:hover .UberTile-title {
  display: none;
}

.UberTile.withLink:hover .UberTile-description {
  display: block;
}

.UberTile-link {
  font-family: 'Nova Square', Helvetica, sans-serif;
  color: #4A86E8;
  text-decoration: none;
  vertical-align: middle;
}
