.UberTile,
.UberTile-text,
.UberTile-background-image {
  text-align: center;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  position: relative;
  transition: transform .2s;
  z-index: 1;
}

.UberTile-text{
  position: absolute;
}

.UberTile-background-image {
  filter: brightness(80%);
}

.UberTile-background-image:hover {
  filter: brightness(80%);
}

.UberTile-link {
  font-family: 'Nova Square', Helvetica, sans-serif;
  color: #4A86E8;
  text-decoration: none;
  vertical-align: middle;
}

.UberTile:hover {
  filter: brightness(120%);
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transform: scale(1.1);
}

.UberTile:last-child:hover {
  box-shadow: none;
}
